/* ==UserStyle==
@name           Wide Rising Maths
@namespace      github.com/openstyles/stylus
@version        0.4.1
@author         Valen
@license        MIT
@preprocessor   stylus


@var checkbox customSize			"+// Change layout size" 1
@var range customWidth			"Layout width (not recommended to go under 950, may need extra tweaking)"[950, 950, 1900, 10, 'px']
	// Second value is the minimum the slider can go to, Third value is the maximum. Change these manually HERE if you need more or less than.
@var checkbox waywrdStn			"Hide the Which Waystone" 0
@var checkbox repeatBnnr		"Repeat background images when stretching the layout (avoid empty space at the cost of aesthetics)" 0

==/UserStyle== */

@-moz-document domain("flightrising.com") {

    body {
      background-color: #b92626
  }

}
